@import './tailwind.css';

:root {
    --navbar-index: 999;

    --theme1: #daa32b;
    --theme2: #214e59;
}

html,
body {
    background-color: #fafafa;
    color: black;
    font-family: 'Exo 2', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.fa-facebook-f {
    color: #4267b2;
}

.fa-whatsapp {
    color: #128c7e;
}
